<section class="beneficios py-5 bg-custom mt-4" id="beneficios">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-xxl-12">
        <div class="text-center my-5 ">
          <h2 class="display-5 fw-bolder mb-3">
            <span>Beneficios de Tyne</span>
          </h2>

          <!-- Carrusel para versión móvil -->
          <div
            id="benefitsCarousel1"
            class="carousel slide d-md-none"
            data-bs-ride="carousel"
            data-bs-interval="10000"
          >
            <!-- Indicadores del carrusel -->
            <div class="carousel-indicators mt-5">
              <button
                type="button"
                data-bs-target="#benefitsCarousel1"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#benefitsCarousel1"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
            </div>
            <div class="carousel-inner">
              <!-- Primer grupo de características -->
              <div class="carousel-item active mb-3">
                <div class="fs-3 mb-3 mt-1">
                  <h2 class="display-5">Beneficios para comercios</h2>
                </div>
                <div class="text-center p-4">
                  <img
                    src="assets/Fidelizar.png"
                    alt="Característica 1"
                    class="img-fluid mb-3"
                  />
                  <h3>Fidelización e inteligencia de negocio</h3>
                </div>
                <div class="text-center p-4">
                  <img
                    src="assets/Red.png"
                    alt="Característica 2"
                    class="img-fluid mb-3"
                  />
                  <h3>Red colaborativa</h3>
                </div>
                <div class="text-center p-4">
                  <img
                    src="assets/ventas.png"
                    alt="Característica 3"
                    class="img-fluid mb-3"
                  />
                  <h3>Más venta sin afectar margen</h3>
                </div>
              </div>

              <!-- Segundo grupo de características -->
              <div class="carousel-item mb-3">
                <div class="fs-3 mb-3 mt-1">
                  <h2 class="display-5">Beneficios para clientes</h2>
                </div>
                <div class="text-center p-4">
                  <img
                    src="assets/Billetera.png"
                    alt="Característica 4"
                    class="img-fluid mb-3"
                  />
                  <h3>Billetera virtual que suma por compras</h3>
                </div>
                <div class="text-center p-4">
                  <img
                    src="assets/Cashback.png"
                    alt="Característica 5"
                    class="img-fluid mb-3"
                  />
                  <h3>10% Cashback sin importar el medio pago</h3>
                </div>
                <div class="text-center p-4">
                  <img
                    src="assets/saldo.png"
                    alt="Característica 6"
                    class="img-fluid mb-3"
                  />
                  <h3>Usa el saldo en toda la red de locales</h3>
                </div>
              </div>
            </div>
          </div>

          <!-- Carrusel para versión escritorio -->
          <div
            id="benefitsCarousel2"
            class="carousel slide d-none d-md-block"
            data-bs-ride="carousel"
            data-bs-interval="7000"
          >
            <div class="carousel-inner">
              <!-- Primer grupo de características -->
              <div class="carousel-item active">
                <div class="fs-3 mb-3 mt-1">Beneficios para comercios</div>
                <div class="row pt-5 mb-5">
                  <div class="col-md-4 text-center">
                    <img
                      src="assets/Fidelizar.png"
                      alt="Característica 1"
                      class="img-fluid mb-3"
                    />
                    <h3>Fidelización e inteligencia de negocio</h3>
                  </div>
                  <div class="col-md-4 text-center">
                    <img
                      src="assets/Red.png"
                      alt="Característica 2"
                      class="img-fluid mb-3"
                    />
                    <h3>Red colaborativa</h3>
                  </div>
                  <div class="col-md-4 text-center">
                    <img
                      src="assets/ventas.png"
                      alt="Característica 3"
                      class="img-fluid mb-3"
                    />
                    <h3>Más venta sin afectar margen</h3>
                  </div>
                </div>
              </div>

              <!-- Segundo grupo de características -->
              <div class="carousel-item">
                <div class="fs-3 mb-3 mt-1">Beneficios para clientes</div>
                <div class="row pt-5 mb-5">
                  <div class="col-md-4 text-center">
                    <img
                      src="assets/Billetera.png"
                      alt="Característica 4"
                      class="img-fluid mb-3"
                    />
                    <h3>Billetera virtual que suma por compras</h3>
                  </div>
                  <div class="col-md-4 text-center">
                    <img
                      src="assets/Cashback.png"
                      alt="Característica 5"
                      class="img-fluid mb-3"
                    />
                    <h3>10% Cashback sin importar el medio pago</h3>
                  </div>
                  <div class="col-md-4 text-center">
                    <img
                      src="assets/saldo.png"
                      alt="Característica 6"
                      class="img-fluid mb-3"
                    />
                    <h3>Usa el saldo en toda la red de locales</h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- Indicadores del carrusel -->
             
            <div class="carousel-indicators ">
              <button
                type="button"
                data-bs-target="#benefitsCarousel2"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#benefitsCarousel2"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
