<h2 mat-dialog-title>{{ this.data.title }}</h2>
<mat-dialog-content>
  {{ this.data.subtitle }}
</mat-dialog-content>
<mat-dialog-actions>
  <button
    class="btn btn-primary custom-btn"
    mat-button
    mat-dialog-close
    cdkFocusInitial
    (click)="action()"
  >
    {{ data.messageButton }}
  </button>

  <button
    *ngIf="data.messageButton2"
    class="btn btn-primary custom-btn"
    mat-button
    mat-dialog-close
    cdkFocusInitial
    (click)="cancel()"
  >
    {{ data.messageButton2 }}
  </button>
</mat-dialog-actions>
