<section id="como-usar" class="py-5">
  <div class="container px-5 mt-5">
    <div class="text-center mb-5 mt-5">
      <h2 class="display-5 fw-bolder mb-0">
        <span class="">Como usar Tyne</span>
      </h2>
    </div>
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-4">
          <img class="img-fluid" src="assets/Paso1.png" alt="..." />
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-4">
          <h3>Paso 1</h3>
          <h2 class="display-6">
            Saca una foto a tu boleta o comprobante de pago
          </h2>
          <p>
            Sin importar cómo hayas pagado, tratamos todas tus compras por igual
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content section 2-->
<section>
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6">
        <div class="p-4">
          <img class="img-fluid" src="assets/Paso2.png" alt="..." />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-4">
          <h3>Paso 2</h3>
          <h2 class="display-6">Escanea el QR del club de socios</h2>
          <p>Registra tu compra y sube la foto de la boleta o comprobante</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content section 3-->
<section>
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-4">
          <img class="img-fluid" src="assets/Paso3.png" alt="..." />
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-4">
          <h3>Paso 3</h3>
          <h2 class="display-6">Obtén un 10% de Cashback</h2>
          <p>
            Acumula un mínimo de $10.000 por cada 10% para utilizarlo como
            descuento
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container py-5 px-5 text-center">
  <div class="fs-3 mb-3 mt-5">Requisitos para ser parte de Tyne</div>
  <div class="row">
    <div class="p-2 text-center">
      <div class="p-2 mt-2 text-center">
        <img
          class="img-fluid"
          src="assets/comercio.png"
          style="width: 80px"
          alt="..."
        />
      </div>
      <div class="text-center">
        <p>Tener tienda física que entregue boleta o comprobante de venta</p>
      </div>
    </div>
  </div>
</div>

<section class="faq-section py-5">
  <div class="container px-5">
    <h2 class="text-center mb-4">Preguntas Frecuentes</h2>
    <div class="accordion" id="faqAccordion">
      <!-- Pregunta 1 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            ¿Se me generará un cobro extra si registro mis compras con boleta en
            los QR de Tyne?
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="headingOne"
          data-bs-parent="#faqAccordion"
        >
          <div class="accordion-body p-4">
            No hay cobros extras ni recargos, compras al precio normal.<br />
            Tyne es ahorro, Somos una billetera individual que suma mientras
            gastas
          </div>
        </div>
      </div>
      <!-- Pregunta 2 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            ¿Qué gano con subir la boleta o comprobante de compra a Tyne?
          </button>
        </h2>
        <div
          id="collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="headingTwo"
          data-bs-parent="#faqAccordion"
        >
          <div class="accordion-body p-4">
            Por cada compra en nuestra red de comercios obtienes un 10% de
            cashback si registras tu compra en los QR de Tyne. <br />
            El único requisito es que debes acumular cada 10% hasta alcanzar
            $10.000 CLP en nuestra billetera para poder usarlo como descuento en
            la red de comercios
          </div>
        </div>
      </div>
      <!-- Pregunta 3 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            ¿Debo escanear el QR cada vez que compre?
          </button>
        </h2>
        <div
          id="collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="headingThree"
          data-bs-parent="#faqAccordion"
        >
          <div class="accordion-body p-4">
            Si, debes registrar cada boleta con tus mismos datos, ya que son los
            datos que usamos para cargarte el cashback del 10% de lo gastado por
            ti. <br />
            La boleta o comprobante de compras debe ser solo de los comercios
            adheridos a Tyne
          </div>
        </div>
      </div>
      <!-- Pregunta 4 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFour"
            aria-expanded="false"
            aria-controls="collapseFour"
          >
            ¿Desde qué montos en compras se pueden acumular y soló pagos hechos
            desde tarjetas?
          </button>
        </h2>
        <div
          id="collapseFour"
          class="accordion-collapse collapse"
          aria-labelledby="headingFour"
          data-bs-parent="#faqAccordion"
        >
          <div class="accordion-body p-4">
            Desde $1 CLP y puedes usar cualquier medio de pago que tenga el
            comercio disponible, hasta efectivo y Baes de Junaeb. <br />
            Lo importante es el comprobante de compra o boleta
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5" id="contacto">
  <div class="container px-5">
    <!-- Contact form-->
    <div class="contacto rounded-4 py-5 px-4 px-md-5">
      <div class="text-center mb-5">
        <div class="feature text-white rounded-3 mb-3">
          <i class="bi bi-envelope display-4"></i>
        </div>
        <h2 class="fw-normal display-6 text-white te">Escribenos</h2>
        <a href="mailto:contacto@tyne.cl" class="no-underline"><p class="lead fw-bolder text-white mb-0 text-decoration-none">contacto&#64;tyne.cl</p></a>
      </div>
    </div>
  </div>
</section>

<section class="Colaboración py-1">
  <div class="container px-5">
    <div class="row pt-5 d-md-flex">
      <div class="col-md-3 text-center">
        <img
          src="assets/corfo.png"
          alt="Característica 1"
          class="img-fluid mb-4 P-4"
        />
      </div>
      <div class="col-md-3 text-center">
        <img
          src="assets/incuba.png"
          alt="Característica 2"
          class="img-fluid mb-4 P-4"
        />
      </div>
      <div class="col-md-3 text-center">
        <img
          src="assets/sercotec.png"
          alt="Característica 3"
          class="img-fluid mb-4 P-4"
        />
      </div>
      <div class="col-md-3 text-center">
        <img
          src="assets/LOGOCCSCOLOR.png"
          alt="Característica 4"
          class="img-fluid mb-4 P-4"
        />
      </div>
    </div>
  </div>
</section>
