/* General container and form wrapper */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 80px;
    overflow: hidden;
  }
  
  .form-wrapper {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    word-wrap: break-word; 
  white-space: normal; 
  }
  

  
  /* Form label styling */
  .form-label {
    font-weight: 600;
    color: #555;
  }
  
  /* Input styling */
  .form-control,
  .custom-select {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px 12px;
    font-size: 1rem;
    color: #333;
    margin-bottom: 15px;
  }
  
  .form-control-file {
    font-size: 1rem;
    padding: 8px 0;
  }
  
  .form-text {
    display: block;
    font-size: 0.875rem;
    color: #6c757d;
    margin-top: 5px;
    text-align: center !important;
    align-items: center;
  }
  
  /* Button styling */
  .btn-primary {
    background-color: #4F091D;
    border-color: #4F091D;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #700e28;
    border-color: #700e28;
  }
  
  /* Media query for responsiveness */
  @media (max-width: 576px) {
    .container {
      padding: 10px;
      padding-top: 64px;
    }
  
    .form-wrapper {
      padding: 20px;
      font-size: 0.9rem;
    }

    .form-control-file {
      width: 100%;
    }
    .form-group {
      padding-top: 24px;
    }

    .form-text {
      font-size: 0.9rem; 
    }
  
    .form-control,
    .custom-select,
    .btn-primary {
      font-size: 1rem;
      padding: 8px 10px;
    }
    .icon-tooltip {
      top: 0; 
      right: 10px; 
      color: #333; 
      margin-top: 24px !important;
      cursor: pointer;
      
    }
    
  }
  .fondo {
    background-color: #4F091D;
    border-radius: 8px;
    padding: 20px;
    color: #fff;
    
  }

  .custom-btn {
    background-color: #4F091D;
    border-color: #4F091D; 
    color: #ffffff; 
    padding: 6px 24px;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  }
  
  .custom-btn:hover {
    background-color: #C4ADB4; 
    border-color: #C4ADB4; 
    color: #4F091D; 
  }
  .custom-btn:active {
    background-color: #350613 !important; 
    border-color: #350613 !important; 
    color: #ffffff; 
  }


.position-relative {
  position: relative;
}

.icon-tooltip {
  position: absolute;
  top: 0; 
  right: 10px; 
  color: #333; 
  margin-top: 4px;
  cursor: pointer;
  z-index: 10; 
}
